
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #FFF;
    --secondary-color: #FE6A0F;
    --background-color: #141414;
    --text-color: #FFF;
    --text-color-secondary: #FE6A0F;
}

body{
    font-family: 'Inter';
    font-size: 1rem; /* fonte padrão: 1rem = 18px */
    background-color: var(--background-color);
    color: var(--text-color);
    
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo a{
    font-family: 'Calistoga';
    font-size: 35px;
    color: var(--text-color);
    text-decoration: none;
}
.logo a span{
    color: var(--text-color-secondary);
}

/* HEADER */
header .container{
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 50px;
}

header nav{
    flex: 1;
    display: flex;
    align-items: center;
}

header nav .leftside{
    display: flex;
    flex: 1;
    align-items: center;
}

header nav li {
    margin: 0 30px;
}

header nav li a{
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s;
}

header nav li a:hover{
    color: var(--text-color-secondary);
}

header nav .btn {
    display: block;
    color: var(--text-color);
    padding: 15px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: background-color 0.2s;
    text-decoration: none;
    font-weight: bold;
}

header nav .btn:hover{
    background-color: var(--text-color-secondary);

}

header .menu {
    display: none;
    flex: 1;
    justify-content: flex-end;
}

header .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

header .menu-icon div {
    width: 32px;
    height: 6px;
    background-color: var(--primary-color);
}
/* FIM HEADER */

/* HERO */
.hero {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero .container {
    display: flex;
    align-items: center;
}

.hero .left-content,
.hero .right-content {
    flex: 1;
}
.hero .left-content {
    padding-bottom:150px;
}

.hero .left-content h1 {
    font-family: 'Calistoga';
    letter-spacing: 1px;
    line-height: 74px;
    font-size: 70px;
    margin-top: 50px;
    color: var(--text-color);
}

.hero .left-content p {
    font-size: 20px;
    line-height: 26px;
    margin: 40px 0;
    color: var(--text-color-secondary);
}

.hero .left-content .btn {
    display: inline-block;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 15px 80px;
    border-radius: 5px;
    transition: background-color 0.2s;
    text-decoration: none;
    font-weight: bold;
}

.hero .left-content .btn:hover{
    opacity: 0.8;
}

.hero .right-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .right-content img {
    width: auto;
    height: 600px;
}


/* RESPONSIVO */
@media (max-width: 768px) {
    header nav {
        display: none;
    }
    header .menu {
        display: flex;
    }

    /* HERO */
    .hero .container {
        flex-direction: column;
    }
    .hero .left-content {
        text-align: center;
        padding-bottom:40px;
    }
    .hero .left-content h1{
        font-size: 40px;
        line-height:50px;
    }

    .hero .right-content {
        padding-bottom: 50px;
    }

    .hero .right-content img {
        width: auto;
        height: 350px;
    }
}